<html>
  <title>View-Cumber</title>
  <head></head>

  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'base' %>
  
  <link rel="Stylesheet" type="text/css" href="/gherkin_brush/styles/shCore.css">
	<link rel="Stylesheet" type="text/css" href="/gherkin_brush/styles/shThemeGherkin.css">

  <body>
    
    <div class="left">
      <%= erb :left_nav %>
    </div>
    <div class="right">
      <%= yield %>
    </div>

  </body>
</html>