<p><%= feature.name %></p>

<ul>
  <% for(var i=0; i<feature.elements.length; i++) { %>
    <li>
      <%= feature.elements[i].keyword %>
      <%= feature.elements[i].name %>
    </li>
  <% } %>
</ul>